<%=semantic_form_for @comparison, :path => comparisons_path, :method => :post, :remote => true do |f| -%>
<div class="row-fluid">
  <div class="span4">
    <%=f.inputs do%>
      <div class="visible-phone">  
      <%=f.input :institution, :as => :select, :collection => Institution.select_options,
                 :label => "Base Institution", :include_blank => false, :required => false%>
      </div>
      <div id="institution-search" class="hidden-phone">
        <label>Base Institution</label>
        <input class="typeahead" type="text" placeholder="Search by name or unit id" id="institution-search-input">
      </div>
      <%=f.input :number_of_peers, :as => :select, :collection => [[10, 10],[25, 25],[50, 50], [250,250], ["All Available", ""]], 
                  :include_blank => false, :required => false%>
    <%end%>
  </div>
  <div class="span5">
  <%=f.inputs :label => "Factor Weights" do%>
    <label class=" control-label">
      Variable Weights 
      <a href="#" data-toggle="tooltip" title="Variables and Weights" style="color:black;"  class="pop" data-content="34 IPEDS variables were used to derive our seven variables (see Data &amp; Methodology). To exclude a variable, slide the bar to 'Off'. To emphasize a variable above others, slide the bar to increase the weight and that variable will be multiplied by the selected value.">
        <span class="icon-question-sign" ></span>
      </a>
    </label>
    <table>
      <tr>
      <td>Size:&nbsp;</td>
      <td><%=f.text_field :f1_weight, :label => "Factor One (Size) Weight", :class => "slidable"%></td>
      </tr>
      <tr>
      <td>Cost:&nbsp;</td>
      <td><%=f.text_field :f2_weight, :label => "Factor Two (Cost) Weight", :class => "slidable"%></td>
      </tr>
      <tr>
      <td>Access:&nbsp;</td>
      <td><%=f.text_field :f3_weight, :label => "Factor Three (Access) Weight", :class => "slidable"%></td>
      </tr>
      <tr>
      <td>Salary:&nbsp;</td>
      <td><%=f.text_field :f4_weight, :label => "Factor Four (Salary) Weight", :class => "slidable"%></td>
      </tr>
      <tr>
      <td>Liberal Arts:&nbsp;</td>
      <td><%=f.text_field :f5_weight, :label => "Factor Five (Lib Arts) Weight", :class => "slidable"%></td>
      </tr>
      <tr>
      <td>Undergrad Comp:&nbsp;</td>
      <td><%=f.text_field :f6_weight, :label => "Factor Six (UG Comp) Weight", :class => "slidable"%></td>
      </tr>
      <tr>
      <td>Expenditures:&nbsp;</td>
      <td><%=f.text_field :f7_weight, :label => "Factor Seven (Expenditure) Weight", :class => "slidable"%></td>
      </tr>
      <td>&nbsp;</td>
      <td>
        <div id="slide-container">
          <span id="slide-off">Off</span>
          <span id="slide-1">1x</span>
          <span id="slide-2">2x</span>
          <span id="slide-3">3x</span>
          <span id="slide-4">4x</span>
          <span id="slide-5">5x</span>
          <br clear="all" />
        </div>
      </td>
    </table>
  <%end%> 
  </div>
  <div class="span3">
  <p>
    <a href="#myModal" data-toggle="modal">Need help getting started <i class="icon-question-sign"></i></a>
  </p>
</div>
</div>
<div class="row-fluid">
  <div class="span12">
    <%=link_to "#", :id => "characteristics_link", :class => "btn" do%>
      <span class="icon-filter"></span> Institutional Filters
    <%end%>
  </div>
</div>
<div id="characteristics_wrapper" style="display:none;">
  <div class="row-fluid">
    <div class="span12">  
    <hr />
    <h4>Institutional Filters</h4>  
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4"> 
      <%mid_point = (Comparison::CHARACTERISTIC_FILTERS.length/2.0).ceil-1
        end_point = Comparison::CHARACTERISTIC_FILTERS.length-1%>
        <%Comparison::CHARACTERISTIC_FILTERS[(0..mid_point)].each do |filter| -%>
          <%=f.input filter, :as => :select, :include_blank => true,
            :collection => Institution.select_options_for(filter), 
            :label => characteristic_description(filter)%>
        <%end%>
    </div>
      <div class="span4">
        <%Comparison::CHARACTERISTIC_FILTERS[(mid_point+1..end_point)].each do |filter| -%>
          <%=f.input filter, :as => :select, :include_blank => true,
            :collection => Institution.select_options_for(filter), 
            :label => characteristic_description(filter)%>
        <%end%>
      </div>
    </div>
  </div>
  <hr />
  <%=f.submit "Create Comparison Group", :class => "btn btn-primary", "data-loading-text" => "Loading..."%> or
  <%=link_to root_path, :class => "btn btn-default btn-small" do%>
    <span class="icon-repeat"></span> Start Again
  <%end%> 
<%end%>
<hr />

<script type="text/javascript">
  $("input.slidable").each(function(i, elem){
      // Initializer the sliders to the current form value
      $(elem).slider({'max': 5, 'selection': 'before', 'tooltip': 'hide'})
      $(elem).slider('setValue', elem.value);
  });

  $("#characteristics_link").click(function(e){
    e.preventDefault();
    if($("#characteristics_wrapper").is(":visible"))
      $("#characteristics_wrapper").fadeOut();
    else
      $("#characteristics_wrapper").fadeIn();
  });

  $('.pop').popover({trigger: 'click'});


  var institutions = new Bloodhound({
    datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.inst_name + " " + d.unit_id + " " + d.city); },
    queryTokenizer: Bloodhound.tokenizers.whitespace ,
    prefetch: 'api/v1/institutions',
    limit: 10
  });
   
  institutions.initialize();
   
  $('.typeahead').typeahead({
    highlight: true
    }, 
    {
    name: 'institutions',  
    displayKey: 'inst_name',
    source: institutions.ttAdapter(),
    templates: {
      suggestion: Handlebars.compile([
        '<p class="inst-name">{{inst_name}}</p>',
        '<p class="inst-locale">{{city}}, {{state}} ({{unit_id}})</p>'
      ].join(''))
    }
  });  

  $('.typeahead').bind('typeahead:selected', function(obj, datum) {        
    $("#comparison_institution_id").val(datum.id);
    //$('.typeahead').typeahead('setQuery', '');
  }); 

  $('.typeahead').bind('typeahead:autocompleted', function(obj, datum) {    
    $("#comparison_institution_id").val(datum.id);
    //$('.typeahead').typeahead('setQuery', '');
  });  

  $("#institution-search-input").focus(function(e){
    console.log('tried to clear');
    $('#institution-search-input').val('');
  });
</script>