<%=semantic_form_for @comparison, :path => comparisons_path, :method => :post, :remote => true do |f| -%>
<div class="row-fluid">
  <div class="span4">
    <%=f.inputs do%>
      <%=f.input :institution, :as => :select, :collection => Institution.select_options,
                 :label => "Base Institution", :include_blank => false%>
      <%=f.input :number_of_peers, :as => :select, :collection => [10,25,50], :include_blank => false%>
      <br />
      <%=link_to "#", :id => "characteristics_link", :class => "btn" do%>
        <span class="icon-plus"></span> Institutional Filters
      <%end%>
    <%end%>
  </div>
  <div class="span8">
  <%=f.inputs :label => "Factor Weights" do%>
    <table>
      <tr>
      <td>Factor One (Size):&nbsp;</td>
      <td><%=f.text_field :f1_weight, :label => "Factor One (Size) Weight", :class => "slidable"%></td>
      </tr>
      <tr>
      <td>Factor Two (Cost):&nbsp;</td>
      <td><%=f.text_field :f2_weight, :label => "Factor Two (Cost) Weight", :class => "slidable"%></td>
      </tr>
      <tr>
      <td>Factor Three (Access):&nbsp;</td>
      <td><%=f.text_field :f3_weight, :label => "Factor Three (Access) Weight", :class => "slidable"%></td>
      </tr>
      <tr>
      <td>Factor Four (Salary):&nbsp;</td>
      <td><%=f.text_field :f4_weight, :label => "Factor Four (Salary) Weight", :class => "slidable"%></td>
      </tr>
      <tr>
      <td>Factor Five (Lib Arts):&nbsp;</td>
      <td><%=f.text_field :f5_weight, :label => "Factor Five (Lib Arts) Weight", :class => "slidable"%></td>
      </tr>
      <tr>
      <td>Factor Six (UG Comp):&nbsp;</td>
      <td><%=f.text_field :f6_weight, :label => "Factor Six (UG Comp) Weight", :class => "slidable"%></td>
      </tr>
      <tr>
      <td>Factor Seven (Expenditure):&nbsp;</td>
      <td><%=f.text_field :f7_weight, :label => "Factor Seven (Expenditure) Weight", :class => "slidable"%></td>
      </tr>
      <td>&nbsp;</td>
      <td>Off&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;x1
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;x2
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;x3 
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;x4
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;x5</td>
    </table>
  <%end%> 
  </div>
</div>
<div id="characteristics_wrapper" style="display:none;">
  <div class="row-fluid">
    <div class="span12">  
    <hr />
    <h4>Institutional Filters</h4>  
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4"> 
      <%mid_point = (Comparison::CHARACTERISTIC_FILTERS.length/2.0).ceil-1
        end_point = Comparison::CHARACTERISTIC_FILTERS.length-1%>
        <%Comparison::CHARACTERISTIC_FILTERS[(0..mid_point)].each do |filter| -%>
          <%=f.input filter, :as => :select, :include_blank => true,
            :collection => Institution.select_options_for(filter), 
            :label => characteristic_description(filter)%>
        <%end%>
    </div>
      <div class="span4">
        <%Comparison::CHARACTERISTIC_FILTERS[(mid_point+1..end_point)].each do |filter| -%>
          <%=f.input filter, :as => :select, :include_blank => true,
            :collection => Institution.select_options_for(filter), 
            :label => characteristic_description(filter)%>
        <%end%>
      </div>
    </div>
  </div>
  <hr />
  <%=f.submit "Create Peer Group", :class => "btn btn-info", "data-loading-text" => "Loading..."%>
<%end%>
<hr />

<script type="text/javascript">
  $("input.slidable").each(function(i, elem){
      // Initializer the sliders to the current form value
      $(elem).slider({'max': 5, 'selection': 'before', 'tooltip': 'hide'})
      $(elem).slider('setValue', elem.value);
  });

  $("#characteristics_link").click(function(e){
    e.preventDefault();
    if($("#characteristics_wrapper").is(":visible"))
      $("#characteristics_wrapper").fadeOut();
    else
      $("#characteristics_wrapper").fadeIn();
  });
</script>