<%highlight_tab "create"%>
<h3>Peer Group for: <b><%=@comparison.institution.inst_name%></b></h3>
<% if @comparison.valid? then%>
  <%=form_for @comparison, :html => { :id => "save_comparison" } do |f|%>
    <%=f.hidden_field :institution_id%>
    <%(1..7).each do |n|%>
    <%=f.hidden_field "f#{n}_weight"%>
    <%end%>
    <%=f.hidden_field :number_of_peers%>
    <%=hidden_field_tag :save, 1%>
  <%end%>
  <p>
    <%=link_to "Save this comparison", "#", :class => "btn btn-success", 
          :onclick => "$('form#save_comparison').submit(); return false;"%>
    <%=link_to "Start again", root_path, :class => "btn btn-info"%>
  </p>
  <%=render :partial => "comparison"%>
<%else%>
<p class="text-error">
  The parameters entered are not valid. Please review the form below and try again.
</p>
<%end%>
<hr />
<h5>Want to try again? Update the options below...</h5>