<%highlight_tab "create"%>
<h3>Peer Group for: <b><%=@comparison.institution.inst_name%></b></h3>
<% if @comparison.valid? then%>
  <%=form_for @comparison, :html => { :id => "save_comparison" } do |f|%>
    <%=f.hidden_field :institution_id%>
    <%(1..7).each do |n|%>
    <%=f.hidden_field "f#{n}_weight"%>
    <%end%>
    <%=f.hidden_field :number_of_peers%>
    <%=hidden_field_tag :save, 1%>
  <%end%>
  <p>
    <%=link_to "Save this comparison", "#", :class => "btn btn-success", 
          :onclick => "$('form#save_comparison').submit(); return false;"%>
    <%=link_to "Start again", root_path, :class => "btn btn-info"%>
  </p>
  <%=render :partial => "comparison"%>
<%else%>
<p class="text-error">
  The parameters entered are not valid. Please review the form below and try again.
</p>
<%end%>
<hr />
<h5>Want to try again? Update the options below...</h5>
<%=semantic_form_for @comparison, :path => comparisons_path, :method => :post do |f| -%>
<div class="row-fluid">
  <div class="span4">
    <%=f.inputs :label => "Institution" do%>
      <%=f.input :institution, :as => :select, :collection => Institution.select_options%>
      <%=f.input :number_of_peers, :as => :select, :collection => [5,10,15,20,25]%>
    <%end%>
  </div>
  <div class="span8">
  <p class="muted">Factor weight must cumulatively add to 100% (???)</p>
  <%=f.inputs :label => "Factor Weights" do%>
    Factor One: <%=f.text_field :f1_weight, :label => "Factor One (Size) Weight", :class => "slidable"%>
    <br />
    Factor Two: <%=f.text_field :f2_weight, :label => "Factor Two (Cost) Weight", :class => "slidable"%>
    <br />
    Factor Three:<%=f.text_field :f3_weight, :label => "Factor Three (Access) Weight", :class => "slidable"%>
    <br />
    Factor Four: <%=f.text_field :f4_weight, :label => "Factor Four (Salary) Weight", :class => "slidable"%>
    <br />
    Factor Five: <%=f.text_field :f5_weight, :label => "Factor Five (Lib Arts) Weight", :class => "slidable"%>
    <br />
    Factor Six: <%=f.text_field :f6_weight, :label => "Factor Six (UG Comp) Weight", :class => "slidable"%>
    <br />
    Factor Seven: <%=f.text_field :f7_weight, :label => "Factor Seven (Expenditure) Weight", :class => "slidable"%>
  <%end%>  
</div>
  <%=f.actions do%>
    <%=f.submit "Update", :class => "btn btn-info"%>
  <%end%>
<%end%>
<script type="text/javascript">
  $("input.slidable").each(function(i, elem){
      $(elem).slider('setValue', elem.value);
  });
</script>