<%highlight_tab "faq"%>
<h1>Frequently Asked Questions</h1>
<hr />
<h5>Q. Which institutions are included in the data set?</h5>
<p>
  Here is a <%=link_to "list", institutions_path%> of all the institutions which are used to create the comparison groups.
</p>
</p>
<hr />
<h5>Q. How can I share the comparison group I've created?</h5>
<p>
  Once you have successfully created a comparison group, click the "Permalink Comparison" button and you will be re-directed to a page which you can share with others. This link will never expire, but the institutions may change as we load newer institutional data into our database.
</p>
<hr />
<h5>Q. I have Permalinked my comparison group but I cannot find the link, what should I do?</h5>
<p>
  You can click the 'Review Comparison Groups' on the left navigation, <%=link_to "browse", comparisons_path%> and search all of the comparison groups which have been created in the past or you can simply <%=link_to "re-create", root_path%> the comparison group!
</p>
<hr />
<h5>Q. Can I use the comparison data without using the web interface?</h5>
<p>
  We have provided two means for using the comparison group data. First, have you have created a comparison group, you can export the result set to CSV by clicking the 
    <%=link_to('#', :class => "btn btn-default") do%>
      <span class="icon-file"></span> Download</a>
    <%end%>
   button. Second, if you are a developer, or familiar with other modern APIs, you can export the data using our <%=link_to "API", api_path%>. This will provide access to our backend processing and return a comparison group in the standard JSON (JavaScript Object Notation) format.
</p>
<hr />
<h5>Q. Where can I find a presentation explaining the methodology and use of this tool?</h5>
<p>
	A recorded screencast presentation can be found here: <%=link_to "Peer Comparison Screencast", "https://airweb.adobeconnect.com/_a1166575078/p10wvdbet3r", :target => "_blank" %>. This presentation was recorded during the monthly IPEDS Trainer Web Conference on February 18th, 2014.
	<br>
  A slideshow presentation can be found here: <%=link_to "Peer Comparison Prezi", "http://prezi.com/ufwfjlsbiec-/?utm_campaign=share&utm_medium=copy&rc=ex0share", :target => "_blank" %>.
</p>
<hr />
<h5>Q. How can I look at variable data for a specific institution?</h5>
<p>
	It's possible to do this by either browsing through and clicking on specific institutions via this <%=link_to "list", institutions_path%> or by clicking on institution names that are part of a comparison group that's been generated.
</p>
<hr />