<p>Hello, world.</p>
<p>Select your institution to begin.</p>
<%=semantic_form_for @comparison do |f| -%>
  <%=f.inputs do%>
    <%=f.input :institution, :as => :select, :collection => Institution.select_options%>
  <%end%>
  <%=f.actions do%>
    <%=f.submit "Go"%>
  <%end%>
<%end%>