<%highlight_tab "methodology"%>
<div class="row">
<h1>Data &amp; Methodology</h1>
<hr />
<h3>
    Data used in model
</h3>
<%= image_tag "variables.png" %> 
<p dir="ltr">
    *Variables drawn from the U.S. Department of Education National Center for Education Statistics, Integrated Postsecondary Education Data System (IPEDS)
</p>
<h3>
    Statistical methodology
</h3>

</div>
<div class="row">
    <div class="span7">
        <br />
        <div id="myCarousel" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item"><%= image_tag "factor_access.png" %> </div>
            <div class="item"><%= image_tag "factor_curricular_focus.png" %> </div>
            <div class="item"><%= image_tag "factor_expenditures.png" %> </div>
            <div class="item"><%= image_tag "factor_faculty_salary.png" %> </div>
            <div class="item"><%= image_tag "factor_non_traditionalness.png" %> </div>
            <div class="item"><%= image_tag "factor_size.png" %> </div>
            <div class="item"><%= image_tag "factor_tuition_aid.png" %> </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>
    <div class="span5">
        <p dir="ltr">
        The variables above were assembled from IPEDS for the 2010-2011 academic year. The analysis included all 1,472 four-year degree granting institutions in
        the United States reporting in IPEDS. Data was not available for every institution. After missing cases were removed, 1,279 institutions remained in the
        analysis.
        </p>
        <p dir="ltr">
        Institutions can be thought of as existing in a multidimensional space, where each dimension corresponds to a characteristic of the institution. The
        distance between two institutions in this space therefore represents the relative similarity between those institutions on the various dimensions. Some of
        these dimensions are closely related to each other, so it is possible to reduce the number of dimensions to a smaller set that is easier to interpret and
        apply without sacrificing important patterns in the data. This is accomplished by use of a technique called factor analysis. To look at comparison groups,
        principal axis factor analysis with an oblique rotation was used to reduce the data into a manageable number of dimensions for comparison. Utilizing the
        Kaiser criterion (eigenvalue &gt; 1.0) we identified a seven factor solution and calculated factor scores for each of seven dimensions (the seven factors
        emphasized an institution’s size, cost, financial need, faculty salary, STEM emphasis, and composition of undergraduate enrollment, and expenditures).
        Difference scores were then calculated for each of the eight factors which were subsequently squared and then summed to produce an overall difference score
        for each institution. These scores were then sorted from smallest to largest to identify an institution’s “nearest neighbors.”
        </p>
    </div>
</div>

<script>
$('.carousel').carousel({
  interval: false
})
</script>